In [2]:
import pandas as pd

In [3]:
pd.read_csv('SIX-CH0350494719CHF4.csv')

           Date    Price   Volume
0    2017-02-17  149.500   1014.0
1    2017-02-16  149.100    721.0
2    2017-02-15  149.300    487.0
3    2017-02-14  149.500   1398.0
4    2017-02-13  149.200    846.0
5    2017-02-10  149.100    525.0
6    2017-02-09  149.600    393.0
7    2017-02-08  149.800    684.0
8    2017-02-07  148.200    940.0
9    2017-02-06  148.000   1350.0
10   2017-02-03  149.800    701.0
11   2017-02-02  147.600    753.0
12   2017-02-01  148.000    968.0
13   2017-01-31  148.000    436.0
14   2017-01-30  148.375   1538.0
15   2017-01-27  148.000   1076.0
16   2017-01-26  148.000    642.0
17   2017-01-25  148.500   1126.0
18   2017-01-24  148.000   1160.0
19   2017-01-23  148.625    604.0
20   2017-01-20  148.500    774.0
21   2017-01-19  150.000    996.0
22   2017-01-18  149.375    598.0
23   2017-01-17  149.000   1086.0
24   2017-01-16  149.000   1018.0
25   2017-01-13  150.000    708.0
26   2017-01-12  150.000    846.0
27   2017-01-11  149.750   1408.0
28   2017-01-10  148.625    742.0
29   2017-01-09  148.625    848.0
..          ...      ...      ...
89   2016-10-13  145.000   3192.0
90   2016-10-12  146.000    634.0
91   2016-10-11  145.000    628.0
92   2016-10-10  146.375    364.0
93   2016-10-07  146.125    214.0
94   2016-10-06  146.500    196.0
95   2016-10-05  146.625    336.0
96   2016-10-04  146.000    426.0
97   2016-10-03  146.500    596.0
98   2016-09-30  148.000    432.0
99   2016-09-29  148.250    632.0
100  2016-09-28  147.000   1650.0
101  2016-09-27  145.000    334.0
102  2016-09-26  145.500   1542.0
103  2016-09-23  145.750  33196.0
104  2016-09-22  145.875    750.0
105  2016-09-21  145.750    344.0
106  2016-09-20  146.000   7248.0
107  2016-09-19  147.250   1020.0
108  2016-09-16  147.375    620.0
109  2016-09-15  145.625     56.0
110  2016-09-14  145.750    538.0
111  2016-09-13  146.625    600.0
112  2016-09-12  146.375    150.0
113  2016-09-09  146.375    196.0
114  2016-09-08  146.375     10.0
115  2016-09-07  145.875     68.0
116  2016-09-06  146.625    156.0
117  2016-09-05  147.250    310.0
118  2016-09-02  146.625    404.0

[119 rows x 3 columns]